.container{
    margin: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
}

.button-value{
    margin: 6px;
}