.mat-elevation-z8 {
    margin: 20px;
    margin-bottom: 5%;
  }
  table {
    width: 100%;
  }

.create-user-button{
  background-color: #9f9fe6 !important; 
  color: white !important;
}

.btn-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styles.css or your component's CSS file */
.search-field {
  width: 300px; /* Adjust the width as needed */
  margin-bottom: 16px; /* Add margin for spacing */
}

.search-input {
  width: 100%;
  max-width: 40%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.search-input:focus {
  border-color: #007bff;
}
