.user-form {
    max-width: 40%;
    margin: auto;
    margin-top: 8%;
    height: 80%;
    overflow: hidden;
}
    
  .form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .submit-button {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .user-success-msg{
    font-size: 12px;
    color: green;
    font-weight: bold;
    margin-top: 6px;
  }

  .success-snackbar{
    background-color: #4caf50 !important;
    color: white !important;
  }

  .mat-elevation{
    overflow: hidden;
  }